@font-face {
    font-family: "San-serif", "Calibri";
}

@font-face {
    font-family: "San-serif", "Calibri";
}

html {
    background-image:url("/universe.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size:cover;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, svg, canvas {
    margin: 0;
    padding: 0;
    border: 0;
    font: 1em mplus-2p-light-sub,Helvetica,arial,freesans,clean,sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
}

@media (max-width: 825px), (max-height: 700px) {
    html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, svg, canvas {
        font-size: 0.8em;
    }
}

svg {
    overflow: hidden;
}

body {
    color: #eeeeee;
    background: #000005;
}

#display {
    cursor: default;
}

#map, #animation, #overlay, #foreground {
    position: absolute;
    top: 0;
    left: 0;
}

#details {
    position: absolute;
    bottom: 3%;
    left: 2%;
    pointer-events: none;
}

#earth {
    font-size: 2.4rem;
}

.sup {
    position: relative;
    bottom: 0.3em;
    font-size: 0.6em;
}

.sub {
    position: relative;
    top: 0.3em;
    font-size: 0.6em;
}

.coastline{
    stroke: #ae6e28;
    stroke-width: 2.0;
    fill: #ae6e28;
}

.background-sphere {
    stroke: none;
    fill: #303030;
}

.foreground-sphere {
    stroke: #303030;
    stroke-width: 1.0;
    fill: none;
    -moz-user-select: none;
    user-select: none;
}
